
{{#if loggedIn}}
<ol class="post-list">
    {{#each contacts}}
  <li>
      <p><h2>{{first_name}} {{last_name}}</h2>
        <h5>
          Phone Number: {{phone}} <br/>
          Email: {{email}} <br/>
          Notes: {{notes}} <br/>
          User Id: {{user_id}} <br/>
          Status Id: {{status_id}} <br/>
          Lead Source Id: {{lead_source_id}} <br/>
          
          
          </h5>
      </p>
  </li>
  {{/each}}
</ol>
{{else }}

{{!-- Login/SignUp Form --}}
<form class="login-form white black-text">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form class="signup-form white">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>
{{/if}}
{{#unless loggedIn}}
<script src="/public/javascript/login.js"></script>
{{/unless}}