
<ol class="post-list">
    {{#each contacts}}
  <li>
      <p><h2>{{first_name}} {{last_name}}</h2>
        <h5>
          Phone Number: {{phone}} <br/>
          Email: {{email}} <br/>
          Notes: {{notes}} <br/>
          User Id: {{user_id}} <br/>
          Status Id: {{status_id}} <br/>
          Lead Source Id: {{lead_source_id}} <br/>
          
          
          </h5>
      </p>
    {{!-- <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">
      </div>
    </article> --}}

  </li>
  {{/each}}
</ol>

{{!-- <p>{{First_Name}}</p> --}}